---
import Navbar from "../components/Navbar.astro";
import Layout from "./Layout.astro"; // your base layout
import type { PostFrontmatter } from "../types/post";

interface Props {
  frontmatter: PostFrontmatter;
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <main class="mt-8 flex flex-col items-center gap-4">
    <Navbar />
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <p class="text-muted-foreground text-sm">
      <strong>{frontmatter.pubDate.toString().split("T")[0]}</strong>
    </p>
    <p class="text-muted-foreground mb-4"><em>{frontmatter.description}</em></p>
    <article class="prose dark:prose-invert mx-auto max-w-2xl">
      <slot />
    </article>
  </main>
</Layout>
